@model IEnumerable<Book>

@{
    ViewData["Title"] = "Horror Books";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Horror Books</h2>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Image
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-warning">
                    <td scope="row">
                        <img src="@item.imageSrc" alt="@item.Name" style="width:170px; height:170px; max-width:100%" />
                    </td>
                    <td scope="row">
                        @item.Name
                    </td>
                    <td width="50%">
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>