@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mb-5 mb-md-0">
                <img class="img-fluid" src="~/images/istockphoto-495477978-612x612.jpg" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="block">
                    <h1 class="font-weight-bold mb-4 font-size-60">BookVerse: Explore, Connect, Immerse !</h1>
                    <p class="mb-4">Welcome to our online haven for book lovers! Dive into a curated collection spanning genres, connect with a community of fellow readers, and explore a world of literary wonders. From gripping novels to timeless classics, our user-friendly website is your gateway to a universe of stories, discussions, and endless inspiration. Join us on this literary journey and let the magic of words captivate your imagination.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Our Core Features</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Advanced Search and Filters</h4>
                    <p>Empower users to easily find the books they're interested in by implementing a robust search feature. Include filters that allow users to refine results based on genre, author, publication date, or any other relevant criteria. This ensures a tailored and efficient browsing experience.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Personalized Recommendations</h4>
                    <p>Showcase a personalized recommendation system that suggests books based on the user's reading history, preferences, and behavior on the site. This feature adds a touch of personalization, making the book discovery process more enjoyable for users.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">User Reviews and Ratings</h4>
                    <p>Highlight the community aspect of your website by showcasing user reviews and ratings for each book. This social proof can help users make informed decisions about what to read next and fosters a sense of community engagement.</p>
                </div>
            </div>
            <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
                <img class="img-fluid" src="~/images/istockphoto-183890264-612x612.jpg" alt="">
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Responsive Design for Any Device</h4>
                    <p>Emphasize the responsive design of your website, ensuring a seamless and enjoyable experience across various devices such as desktops, tablets, and smartphones. This feature underscores your commitment to accessibility and user convenience.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Secure Shopping and Checkout</h4>
                    <p>Assure users of a secure and seamless shopping experience for those interested in purchasing books. Highlight secure payment gateways, a user-friendly shopping cart, and a straightforward checkout process to instill confidence in online transactions.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <h4 class="font-weight-bold mb-2">Author Pages with Insights</h4>
                    <p>Provide users with comprehensive author pages that include not only the author's biography and photo but also insights into their writing style, popular works, and any upcoming releases. This adds depth to the user's understanding of the authors behind the books.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-list section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Why Choose Us</h2>
                </div>
            </div>
        </div>
        <div class="row mb-40">
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="~/images/novel_114812614.jpg" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Compelling Storytelling</h4>
                    <p>Immerse yourself in a captivating narrative that transports you to new worlds and introduces you to unforgettable characters.</p>
                </div>
            </div>
        </div>
        <div class="row mb-40">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Originality</h4>
                    <p>Books offers a fresh perspective on that sets it apart from the rest. Discover a unique and innovative take on your choices.p>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="~/images/book-21.jpg" alt="">
            </div>
        </div>
        <div class="row mb-40">
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="~/images/novel_114812614.jpg" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Accessible Formats</h4>
                    <p>Books is available in various formats, including ebooks english or arabic, ensuring everyone can enjoy the story in their preferred way.</p>
                </div>
            </div>
        </div>
        <div class="row mb-40">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Community Connection</h4>
                    <p>: Join a community of Books enthusiasts. Connect with fellow readers, participate in discussions, and share your thoughts on the story through our social media platforms.</p>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="~/images/book-21.jpg" alt="">
            </div>
        </div>

    </div>
</section>

<section class="gallery" id="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>
                        A Song of Ice and Fire
                    </h2>
                </div>
                <div class="product-slider">
                    @foreach (var item in Model)
                    {
                        if (item.AuthorId == 1)
                        {
                            <div class="block">
                                <div class="gallery-overlay">
                                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" class="gallery-popup">
                                        <i class="tf-ion-plus-round"></i>
                                    </a>
                                </div>
                                <img class="img-fluid" src="@item.imageSrc" alt="@item.Name">
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/plugins/bootstrap/bootstrap.min.js"></script>
<script src="~/plugins/slick/slick.min.js"></script>
<script src="~/js/script.js"></script>